* {
  font-family: "pretendard";
  box-sizing: border-box;
}

body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

button {
  border: 0;
  outline: 0;
}

@font-face {
  font-family: "pretendard";
  src: url("/font/Pretendard-Regular.subset.woff2") format("woff2"),
    url("/font/Pretendard-Regular.subset.woff") format("woff");
  font-weight: 400;
  font-display: swap;
}

@font-face {
  font-family: "pretendard";
  src: url("/font/Pretendard-Medium.subset.woff2") format("woff2"),
    url("/font/Pretendard-Medium.subset.woff") format("woff");
  font-weight: 500;
  font-display: swap;
}

@font-face {
  font-family: "pretendard";
  src: url("/font/Pretendard-Bold.subset.woff2") format("woff2"),
    url("/font/Pretendard-Bold.subset.woff") format("woff");
  font-weight: 700;
  font-display: swap;
}
